[submodule "episode_5/ark-joy_of_automating-ep5"]
	path = episode_5/ark-joy_of_automating-ep5
	url = https://github.com/jeremyfryer/ark-joy_of_automating-ep5.git
[submodule "episode_6/redis-with-test_suite-master"]
	path = episode_6/redis-with-test_suite-master
	url = git@github.com:jeremyfryer/redis-with-test_suite-master.git
